.login__bg {
    background-image: url(https://img.freepik.com/free-vector/cartoon-clouds-collection_23-2149015245.jpg);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}