$primary:       #8aa1b1;
$secondary:     #efb0a1;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
$dark:          #444545;

// @import '~bootstrap/scss/bootstrap.scss';
@import "../node_modules/bootstrap/scss/bootstrap";

